@charset "utf-8";
/* CSS Document */

.big-image {
	background-size: cover;
	background-position: center;
	position: relative;
    padding-top: 12rem;
	padding-bottom: 12rem;
	background-image: url("./images/main-illustration.jpg");
	
}
.medium-image {
	background-size: cover;
	background-position: center;
	position: relative;
    padding-top: 15rem;
	padding-bottom: 4rem;
	background-image: url("images/medium-pic.jpg");
	background-size: 100%;
}
.btn-primary {
	background-color: #341F09;
}
.btn-success {
	background-color: #341F09;
	border-color:#341F09 !important;
}
.btn-outline-success {
	border-color: #341F09 !important;
}
.hero-search {
	background-color: #94c1db;
	border-radius: 12px;
}
.search {
	background-color: #fff0cf;
}
.back {
	background-color: #fff0cf;
}
.navbar {
	background-color: #fff0cf !important;
}
.btn-outline-success:hover {
	background-color: #341F09;
}
.btn-outline-success:active {
	background-color: #0a58ca !important;
}
.btn-success:active {
	background-color: #0a58ca !important;
}
.btn-success:hover {
	background-color: #341F09;
}
.border-bottom {
	border-color: #341F09 !important;
}
.icon {
	width: 30px;
	height: 35px;
}
h1 {
	font-family: "Barrio" !important;
	font-size: 70px !important;
}
h2 {
	font-family: "Barrio" !important;
	font-size: 40px !important;
}
h6{
	font-size: 28px;
}
.card-first {
	background-color: #fff0cf;
}
.badge {
	background-color: #94c1db !important;
}
